.centered-container {
  margin: 25vh 10vw;
  background-color: lavender;
  border-radius: 8px;
  border: 8px dotted lavenderblush;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.form-box {
  text-align: center;
}
